.header {
    background-color: gray;
    position: relative;
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.user-menu {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #e5e7e8;
    border-bottom: 1px solid #e5e7e8;
    border-radius: 0px;
    display: flex;
    justify-content: center;
}

.user-menu login-button {
    border: dashed red;
}